{% extends 'layout.html' %}

{% block body %}

<div class="section-title">
  <span>DashBoard</span>
  <h2>DashBoard   </h2>
</div>
<h2 style="text-align: left; opacity: 0.7;"> Welcome {{session.username}}</h2>


<a class="btn btn-success" href="/add_article">Add Article</a>
<hr>

<table class="table table-stripped">
  
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>
  {% for article in article_data %}
  <tr>
    <td>{{ article.id }}</td>
    <td>{{ article.title }}</td>
    <td>{{ article.author }}</td>
    <td>{{ article.create_date }}</td>
    <td><a href="edit_article/{{article.id}}" class="btn btn-primary btn-sm pull-right">Edit</a></td>
    <!-- <td><a href="#" class="btn btn-danger btn-sm">Delete</a></td> -->
    <td>
      <form action="{{ url_for('delete_article',id=article.id) }}" method="POST" >
        <input type="hidden" class="_method" value="DELETE">
        <input type="submit" value="Delete" class="btn btn-danger btn-sm">

      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}