{% extends 'layout.html' %}

{% block body %}

{% from "includes/formhelper.html" import render_field %}
<div class="section-title">
  <span>Articles</span>
  <h2>Articles</h2>
</div>

<h2>Edit Article</h2>
<form method="POST" class="needs-validation">
  <div class="form-group">
    {{ render_field(article_data.title, class="form-control")}}
  </div>
  <div class="form-group">

    {{ render_field(article_data.body, class_="form-control", id = "editor")}}
  </div>
  <p><input type="submit" class="btn btn-dark"  value="Submit"></p>
</form>


{% endblock %}