{% extends 'layout.html' %}


{% block body %}

  <h1>Register</h1>
  {% from "includes/formhelper.html" import render_field %}
  <form method="POST" class="needs-validation">
    <div class="form-group">
      {{ render_field(form_data.name, class="form-control")}}
    </div>
    <div class="form-group">
      {{ render_field(form_data.email, class_="form-control")}}
    </div>
    <div class="form-group">
      {{ render_field(form_data.username, class_="form-control")}}
    </div>
    <div class="form-group">
      {{ render_field(form_data.password, class_="form-control")}}
    </div>
    <div class="form-group">
      {{ render_field(form_data.confirm_password, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-dark"  value="Submit"></p>
  </form>


{% endblock %}


